body{
	background-image: linear-gradient(to right,#FF1493,#DC143C);

}

.dropbtn{
	background-color: black;
	color:yellow;
	padding: 16px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.menu{
	display: -webkit-inline-box;
	background-color: silver;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
}

.dropdown:hover .menu{
	display: block;
}

.menu a{
	color:black;
	padding: 12px;
	text-decoration: none;
	display: block;
}

.menu a:hover{
	background-color: black;
	color:white;

}

.dropdown{
	display: inline-block;
	margin: 10px;
	position: relative;
}


.gallery{
	margin: 6px;
	border: 2px solid silver;
	width:300px;
	 
	float: left;
}

.gallery:hover{
	border: 4px solid red;
}


.gallery img{
	width: 100%;
	height: 325px;
}


.caption{
	padding: 10px;
	text-align: center;
}


.outer4 {
    position: relative;
    border: 1px solid aqua;
    width: 100%;
    height: 100px;
} 
.outer4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -20px;
